
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
}

#error-box {
    display: none;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    font-family: sans-serif;
    color: #FFFFFF;
    background-color: #F44336;
}

#debug-box {
    display: none;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    font-family: sans-serif;
    color: #000000;
    background-color: #FFEB3B;
}

#debug-tool {
    margin: 10px;
    padding: 5px;
    border-style: dashed;
    border-width: 5px;
    border-color: #FFC107;
    font-family: sans-serif;
}

#debug-tool button {
    margin: 10px;
    padding: 5px;
    background-color: #FFFFFF;
    border-style: dashed;
    border-width: 2px;
    border-color: #000000;
    font-family: sans-serif;
    transition-duration: 0.3s;
}

#debug-tool button:hover {
    color: #FFC107;
    border-color: #FFC107;
}

#cvs {
    display: inline-block;
    vertical-align: top;
    animation-duration: 3s;
}

@keyframes rvs {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(00.5turn);
    }
}

@keyframes rvsB {
    from {
        transform: rotate(00.5turn);
    }
    to {
        transform: rotate(0);
    }
}

.info-box {
    vertical-align: top;
    margin: 0 10px;
    margin-bottom: 10px;
    padding: 10px;
    width: 40px;
    height: 20px;
    background-color: #FFFFFF;
    border-style: dashed;
    border-width: 5px;
    font-family: sans-serif;
}

#game-over-cover {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    color: #FFFFFF;
    background-color: #000000;
    font-size: 300%;
    font-family: sans-serif;
    animation-duration: 3s;
}

@keyframes game-over {
    from {
        color: #FFFFFF;
        background-color: #FFFFFF;
    }
    to {
        color: #FFFFFF;
        background-color: #000000;
    }
}